<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All students</title>
  </head>
  <body>
    <a href="/">Home</a>
    <h1>All Students Page</h1>
    <% for(let student of students) { %>
    <h5><%= student.name %></h5>
    <p><%= student.age %></p>
    <a href="/students/<%= student._id %>/edit">Edit</a>
    <a href="/students/<%= student._id %>">Show Details</a>
    <hr />
    <% } %>
  </body>
</html>
